langchain-openrouter
langgraph
fastapi
uvicorn
langchain-groq
python-dotenv
langchain_core
langchain-tavily
pyjwt
bcrypt
python-multipart
sqlalchemy
alembic
psycopg[binary]
pydantic
qdrant-client
langchain-qdrant
fastembed
sentence-transformers
torch>=2.9
pydantic-settings
asyncpg
httpx
langsmith
pytest
pytest-asyncio
pyright
ruff
docker
types-docker
tree-sitter
tree-sitter-python
streamlit